*.o
*.obj
*.exe
*.DS_Store
*.log
*.user
*~
.vs/
Debug/
Release/
Build/
build/
doomcube.*
scratch

# User-supplied Doom and Timidity data
data/wad/*.wad
data/timidity/

# Keep the directory

build-gba-test/
build-iso
