*.o
*.obj
*.exe
*.DS_Store
*.log
*.user
*~
.vs/
.vscode/
Debug/
Release/
Build/
build/
doomcube.dol
doomcube.elf
doomcube.iso

scratch

# User-supplied Doom and Timidity data
data/wad/*
data/timidity/*

# Keep the directory structure for the following directories, but ignore their contents
build-gba/
build-gba-test/
build-iso
doomgeneric.sln
source/doomgeneric.vcxproj.filters
